@font-face {
    font-family: "Lato";
    src: url("assets/font/Lato-Regular.ttf");
  }

@font-face {
font-family: "fontello";
src: url('assets/font/fontello.eot?71847581');
src: url('assets/font/fontello.eot?71847581#iefix') format('embedded-opentype'),
        url('assets/font/fontello.woff2?71847581') format('woff2'),
        url('assets/font/fontello.woff?71847581') format('woff'),
        url('assets/font/fontello.ttf?71847581') format('truetype'),
        url('assets/font/fontello.svg?71847581#fontello') format('svg');
font-weight: normal;
font-style: normal;
}

.icon-location:before { content: '\e800'; } 
.icon-phone:before { content: '\e801'; } 
.icon-mail:before { content: '\e802'; } 
.icon-twitter:before { content: '\f099'; } 
.icon-facebook:before { content: '\f09a'; } 
.icon-linkedin:before { content: '\f0e1'; }
.icon-dribbble:before { content: '\f17d'; } 
.icon-pinterest:before { content: '\f231'; } 
.icon-gplus:before { content: '\f30f'; } 

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

header {
    background: #323232;
    margin-bottom: 12px;
}

.navigation {
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.navigation:after {
    content: "";
    width: 0;
    height: 0;
    border-top: #323232 solid 25px;
    border-right: #ffffff solid 45px;
    border-left: #ffffff solid 45px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -48px;
}

.item {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px 20px;
    user-select: none;
}

.item:hover {
    color: #2eb398;
}

.logo {
    display: inline-block;
    width: 64px;
    margin: 0 25px;
    vertical-align: bottom;
}

.logo h1 {
    height: 38px;
    margin-top: 10px;
}

.hexagon {
    width: 180px;
    height: 210px;
    margin: 5px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.hex-layer-1 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer0.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-3 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer1.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-4 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer2.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-5 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer3.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-6 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer4.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-7 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer5.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-8 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer6.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-9 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer7.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-10 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer8.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-11 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer9.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-12 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer10.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-13 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer11.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hex-layer-14 {
    width: 100%;
    height: 100%;
    background: #ccc3;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible; 
    background-image: url('assets/layer12.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.hexagon:hover {
    transform: rotate(-240deg);
    transition: transform 1s ease-in;
}

.row {
    min-width: 600px;
    text-align: center;
}

.row-translate .hexagon {
    position: relative;
    top: -55px;
    text-align: center;
}

.row-native:not(:first-child) {
    margin-top: -110px;
    text-align: center;
}

.about {
    background: #2eb398;
    padding: 12px 0 15px;
}
  
.about-container {
    max-width: 780px;
    margin: 0 auto;
    padding: 50px 28px;
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}
  
.about-myphoto {
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    width: 180px;
    height: 206px;
    float: left;
    margin-right: 28px;
 }
  
.about-myphoto-mask1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    backface-visibility: hidden;
}
  
.about-myphoto-mask2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(assets/myphoto.jpg);
    visibility: visible;
    transform: rotate(-60deg);
}
  
.about-myname {
    font-family: "Maven Pro", sans-serif;
    font-size: 30px;
    color: #d7fcf5;
    padding: 0;
    margin: 0;
    background-color: #2eb398;
}
  
.about-whoami {
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
    color: #20816d;
    margin: 0;
    padding: 0;
    background-color: #2eb398;
}
  
.about-text {
    color: #d7fcf5;
    margin: 0;
    padding-top: 12px;
    line-height: 1.83;
    text-align: justify;
}
  
.about-social-buttons {
    height: 24px;
    margin-top: 30px;
    text-align: right;
    font-size: 0;
}
  
.about-social-button {
    width: 24px;
    height: 24px;  
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #a5dbd4;
    border-right: 1px solid #74ccbf;
    border-bottom: 1px solid #65C2B0;
    border-top: 1px solid #65C2B0;
    transition: 0.2s;
}

.about-social-button-tw {
    background-color: #6CCCC0;
}
.about-social-button-gp {
    background-color: #7DD1C4;
}
.about-social-button-dr {
    background-color: #6BCCBB;
    border-right: none;
}

.contact {
    background: #323232;
    margin: 0;
    padding: 12px 0;
}
  
.contact-container {
    max-width: 780px;
    padding: 50px 16px;
    margin: 0 auto;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    font-size: 0;
}
  
.contact-title {
    font-family: "Maven Pro", sans-serif;
    font-size: 30px;
    color: #e0e0e0;
    margin: 0;
}
  
.contact-subtitle {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
    color: #bebebe;
    margin: 0;
}
  
.contact-form-container {
    display: inline-block;
    width: 75%;
    margin-right: 16px;
    vertical-align: top;
    font-size: 12px;
}
  
.contact-form-container:after {
    content: "";
    display: table;
    clear: both;
}
  
.contact-form {
    color: #bebebe;
}
  
.contact-form input,
.contact-form textarea {
    color: inherit; 
    font: inherit; 
    margin: 0; 
}
  
  
.contact-form input[type="text"],
.contact-form input[type="email"] {
    box-sizing: border-box;
    background-color: #454545;
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 16px;
}
  
.contact-form input[type="submit"] {
    background-color: #2eb398;
    padding: 10px 30px;
    border: none;
    margin-top: 24px;
    text-transform: uppercase;
    color: #d7fcf5;
    float: right;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    user-select: none;
}
  
.contact-form textarea {
    height: 140px;
    background-color: #454545;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: none;
    margin-top: 16px;
}
  
.contact-text-container {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    font-size: 12px;
}
  
.contact-text {
    color: #bebebe;
    text-align: justify;
    line-height: 22px;
}
  
.contact-text strong{
    color: #e0e0e0;
}
  
.contact-addres {
    position: relative;
    padding-left: 20px;  
    margin-top: 40px;
    color: #bebebe;
}
  
.contact-phone {
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
    color: #bebebe;
    text-decoration: none;
}
  
.contact-email {
    position: relative;
    width: 20px;
    padding-left: 20px;
    margin-top: 10px;
    color: #bebebe;
}
  
.contact-addres i,
.contact-phone i,
.contact-email i {
    top: -5px;
    left: -5px;
    text-align: center;
    position: absolute;
    width: 20px;
    height: 24px;
    display: block;
}
  
  .contact-email a {
    color: #bebebe;
    text-decoration: none;
}
  
.copyright {
    background: #222222;
    margin: 0;
    padding: 16px;
}
  
.copyright-text {
    max-width: 980px;
    margin: 0 auto;
    color: #454545;
}

i {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: #33AB92;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
  }
  
i:hover {
    color: #fff;
}
  



  